```xml
<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Phone call -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Phone state -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:theme="@style/AppTheme"
        android:label="CRM CallTracker">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <receiver
            android:name=".CallStateReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.PHONE_STATE" />

            </intent-filter>

        </receiver>

    </application>

</manifest>
```
